*.cache
*.classpath
*.jar
*.class
*.project
*.properties
*.prefs
*.history
*.sbt
*.xml
*.xsl
*.css
*.log
CourseraHttp.scala
GradingFeedback.scala
ProgFunBuild.scala
RecordingLogger.scala
RichJsValue.scala
ScalaTestRunner.scala
Settings.scala
StyleChecker.scala
package.scala
linuxwords.txt
inputs
output
